<li class="menu-header small text-uppercase">
  <span class="menu-header-text">User Details</span>
</li>

<li class="menu-item {% if  request.GET.type == 'parent' %}active open{% endif %}">
  <a href="{% url 'companies' %}?type=parent" class="menu-link">
    <i class="menu-icon tf-icons bx bx-home-alt-2"></i>
    <div class="text-truncate" data-i18n="Dashboards">Parents Management</div>
  </a>
</li>

<li class="menu-item {% if request.GET.type == 'teacher' %}active open{% endif %}">
  <a href="{% url 'companies' %}?type=teacher" class="menu-link">
    <i class="menu-icon tf-icons bx bx-book-reader"></i>
    <div class="text-truncate" data-i18n="Dashboards">Teacher Management</div>
  </a>
</li>

<li class="menu-item {% if 'student' in request.path %}active open{% endif %}">
  <a href="{% url 'students' %}" class="menu-link">
    <i class="menu-icon tf-icons bx bx-group"></i>
    <div class="text-truncate" data-i18n="Dashboards">Student Management</div>
  </a>
</li>

<li class="menu-item {% if 'customer' in request.path %}active open{% endif %}">
  <a href="{% url 'customers' %}" class="menu-link">
    <i class="menu-icon tf-icons bx bx-user-circle"></i>
    <div class="text-truncate" data-i18n="Dashboards">Customer Management</div>
  </a>
</li>

<li class="menu-item {% if 'device' in request.path %}active open{% endif %}">
  <a href="{% url 'devices' %}" class="menu-link">
    <i class="menu-icon tf-icons bx bx-mobile-alt"></i>
    <div class="text-truncate" data-i18n="Dashboards">Device Management</div>
  </a>
</li>

<!-- Keep Lead Management if customers need it -->
<li class="menu-item {% if 'lead' in request.path %}active open{% endif %}">
  <a href="{% url 'lead-management' %}" class="menu-link">
    <i class="menu-icon tf-icons bx bx-group"></i>
    <div class="text-truncate" data-i18n="Dashboards">Lead Management</div>
  </a>
</li>
