{% extends layout_path %}
{% load static %}
{% block title %} Student {% endblock %}

{% block page_css %}
<link href="https://cdn.jsdelivr.net/npm/tom-select@2.3.1/dist/css/tom-select.css" rel="stylesheet">

{% endblock %}


{% block content %}

<div class="card">
  <div class="card-header d-flex justify-content-between align-items-center">
    <h5 id="pageTitle">Add Student</h5>

     <button id="importBtn"
            class="btn btn-outline-primary btn-sm d-none">
      <i class="bx bx-upload"></i> Import Students
    </button>
  </div>

  <div class="card-body">
    <form id="studentForm">

      <div class="row g-3">
        <div class="col-md-6">
          <label class="form-label">Device IMEI</label>
          <input type="text" id="imei_number" class="form-control" required>
        </div>

        <div class="col-md-6">
          <label class="form-label">Student Name</label>
          <input type="text" id="student_name" class="form-control" required>
        </div>

        <div class="col-md-6">
          <label class="form-label">Email</label>
          <input type="email" id="email" class="form-control">
        </div>

        <div class="col-md-6">
          <label class="form-label">Class</label>
          <input type="number" id="student_class" class="form-control">
        </div>

        <div class="col-md-12">
          <label class="form-label">Customer</label>
          <select id="parent" placeholder="Select customer..." multiple></select>
        </div>
      </div>

      <div class="col-12 d-flex justify-content-end mt-3">
        <button type="submit" class="btn btn-primary btn me-2" id="saveBtn">
           Add
        </button>
        <button type="button" class="btn btn-secondary btn" onclick="window.location.href='/administrator/students/'; return false;">Cancel</button>
      </div>

    </form>
  </div>
</div>

<div class="modal fade" id="importModal" tabindex="-1">

  <div class="modal-dialog modal-md">
    <div class="modal-content">

      <div class="modal-header">
        <h5 class="modal-title">Import Students</h5>
        <button class="btn-close" data-bs-dismiss="modal"></button>
      </div>

      <div class="modal-body">

        <div class="mb-3">
          <label class="form-label">Upload CSV / Excel</label>
          <input type="file"
                 id="importFile"
                 accept=".csv,.xlsx"
                 class="form-control">
        </div>

        <div class="text-muted small">
          Download sample format:
          <a href="{% static 'samples/student_import_sample.xlsx' %}"
            target="_blank"
            class="fw-semibold text-primary">
            Sample Excel File
          </a>
        </div>

      </div>

      <div class="modal-footer">
        <button class="btn btn-primary" id="uploadImportBtn">
          Upload
        </button>
      </div>

    </div>
  </div>

</div>


{% endblock %}

{% block page_js %}
<script src="https://cdn.jsdelivr.net/npm/tom-select@2.3.1/dist/js/tom-select.complete.min.js"></script>

<script>
function showToast(title, message, status = "primary") {
    const toast = document.getElementById("alert-box");
    const toastTitle = document.getElementById("toast-title");
    const toastBody = document.getElementById("toast-body");
    const toastIcon = document.getElementById("toast-icon");

    toast.className = `bs-toast toast bg-${status} toast-placement-ex top-0 end-0 m-2 show`;
    toastTitle.textContent = title;
    toastBody.textContent = message;

    toastIcon.className = `bx me-2 ${status === "success" ? "bx-check-circle" : "bx-error"}`;

    const bsToast = new bootstrap.Toast(toast);
    bsToast.show();
}
document.addEventListener("DOMContentLoaded", function () {

  const pathParts = window.location.pathname.split("/").filter(Boolean);
  const editStudentId = pathParts.includes("edit") ? pathParts[pathParts.length - 1] : null;

  const urlParams = new URLSearchParams(window.location.search);
  const preselectCustomer = urlParams.get("customer");


  const pageTitle = document.getElementById("pageTitle");
  const saveBtn = document.getElementById("saveBtn");

  if (editStudentId) {
    pageTitle.innerText = "Update Student";
    saveBtn.innerHTML = 'Update';
  }

  let parentSelect;

  /* ---------------- LOAD PARENTS + TEACHERS ---------------- */
  fetch("/administrator/users-list/?parentteacher=customer")
    .then(res => res.json())
    .then(data => {
      const select = document.getElementById("parent");

      data.results.forEach(u => {
        const opt = document.createElement("option");
        opt.value = u.id;
        opt.textContent = `${u.full_name} (${u.role_name})`;
        select.appendChild(opt);
      });

      parentSelect = new TomSelect("#parent", {
        plugins: ['remove_button'],
        persist: false,
        create: false
      });

        parentSelect.on("change", toggleImportBtn);

        toggleImportBtn();

      if (editStudentId) {
        loadStudent(editStudentId);
      } else if (preselectCustomer) {
        parentSelect.setValue(preselectCustomer);
      }
    });

  const importBtn = document.getElementById("importBtn");

  function toggleImportBtn() {
    const parents = parentSelect.getValue();
    importBtn.classList.toggle("d-none", !parents.length);
  }



  const importModal = new bootstrap.Modal(
    document.getElementById("importModal")
  );

  importBtn.onclick = () => importModal.show();

  document.getElementById("uploadImportBtn")
      .addEventListener("click", () => {

        const fileInput = document.getElementById("importFile");

        if (!fileInput.files.length) {
          showToast("Error","Select file","danger");
          return;
        }

        const formData = new FormData();
        formData.append("file", fileInput.files[0]);

        parentSelect.getValue().forEach(id => {
          formData.append("parent", id);
        });

        fetch("/administrator/students-import/", {
          method: "POST",
          body: formData
        })
        .then(res => res.json())
        .then(data => {

          if (data.status) {

            showToast(
              "Success",
              `${data.created} students imported`,
              "success"
            );

            importModal.hide();

          } else {

            showToast(
              "Error",
              data.error || "Import failed",
              "danger"
            );

          }

        });

    });


  /* ---------------- LOAD STUDENT FOR EDIT ---------------- */
  function loadStudent(id) {
    fetch(`/administrator/students-api/?id=${id}`)
      .then(res => res.json())
      .then(s => {
        const user = s.results[0];
        document.getElementById("imei_number").value =  user.device_imei_number || "";
        document.getElementById("student_name").value = user.student_name;
        document.getElementById("email").value = user.email || "";
        document.getElementById("student_class").value = user.student_class || "";

        if (user.parent) {
          parentSelect.setValue(user.parent);
        }
      });
  }


  /* ---------------- SUBMIT ---------------- */
  document.getElementById("studentForm").addEventListener("submit", function (e) {
    e.preventDefault();

    const payload = {
      imei_number: imei_number.value.trim(),
      student_name: student_name.value.trim(),
      email: email.value.trim(),
      student_class: student_class.value,
      parent: parentSelect.getValue()
    };

    const url = editStudentId
      ? `/administrator/students-api/${editStudentId}/`
      : `/administrator/students-api/`;

    const method = editStudentId ? "PATCH" : "POST";

    fetch(url, {
      method,
      headers: { "Content-Type": "application/json" },
      body: JSON.stringify(payload)
    })
    .then(res => res.json())
    .then(data => {
      if (data.message || data.id) {

        const msg = editStudentId
          ? "Student updated successfully"
          : "Student added successfully";

        showToast("Success", msg, "success");

        setTimeout(() => {
          window.location.href = "/administrator/students/";
        }, 1200);

      } else {
        let errorMsg = "Something went wrong";

        if (data.errors) {
          const firstField = Object.keys(data.errors)[0];
          if (data.errors[firstField]?.length) {
            errorMsg = data.errors[firstField][0];
          }
        } else if (data.error) {
          errorMsg = data.error;
        }

        showToast("Error", errorMsg, "danger");
      }
    });
  });

});
</script>
{% endblock %}
