{% extends layout_path %}

{% load static %}
{% load i18n %}

{% block title %}Dashboard - Analytics{% endblock %}

{% block vendor_css %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'vendor/libs/apex-charts/apex-charts.css' %}" />
{% endblock vendor_css %}

{% block vendor_js %}
{{ block.super }}
<script src="{% static 'vendor/libs/apex-charts/apexcharts.js' %}"></script>
{% endblock vendor_js %}

{% block page_js %}
{{ block.super }}
<script src="{% static 'js/dashboards-analytics.js' %}"></script>
<script>
  document.addEventListener("DOMContentLoaded", function () {
    fetch('/admin_api/dashboard-stats/')
      .then(res => res.json())
      .then(data => {
        document.getElementById("total-companies").innerText = data.total_companies;
        document.getElementById("active-companies").innerText = data.active_companies;
        document.getElementById("inactive-companies").innerText = data.inactive_companies;
        document.getElementById("total-users").innerText = data.total_users;

      })
      .catch(error => console.error("Dashboard load error:", error));

  });

  fetch("/admin_api/company-stats/")
  .then(res => res.json())
  .then(data => {
    const tbody = document.getElementById("company-stats-body");
    tbody.innerHTML = "";

    if (data.length === 0) {
      tbody.innerHTML = `<tr><td colspan="9" class="text-center py-4">No data available</td></tr>`;
      return;
    }

    data.forEach(item => {
      const row = `
        <tr>
          <td>${item.company}</td>
          <td>${item.total_users}</td>
          <td>${item.total_broadcasts}</td>
          <td>${item.active_conversations}</td>
          <td>${item.total_contacts}</td>
          {% comment %} <td>${item.messages_sent}</td>
          <td>${item.messages_received}</td> {% endcomment %}
          <td>${item.orders}</td>
          <td>${item.flows}</td>
          <td>${item.last_active}</td>
        </tr>`;
      tbody.insertAdjacentHTML("beforeend", row);
    });
  })
  .catch(err => console.error("Company stats load error:", err));

    function showToast(title, message, status = "primary") {
    const toast = document.getElementById("alert-box");
    const toastTitle = document.getElementById("toast-title");
    const toastBody = document.getElementById("toast-body");
    const toastIcon = document.getElementById("toast-icon");

    toast.className = `bs-toast toast bg-${status} toast-placement-ex top-0 end-0 m-2 show`;
    toastTitle.textContent = title;
    toastBody.textContent = message;

    toastIcon.className = `bx me-2 ${
      status === "success" ? "bx-check-circle" : "bx-error"
    }`;

    const bsToast = new bootstrap.Toast(toast);
    bsToast.show();
  }

</script>

{% endblock page_js %}

{% block content %}

<div class="row">
  <div class="col-md-6 col-xl-3 mb-4">
    <div class="card h-100 hover-shadow cursor-pointer" onclick="window.location.href='{% url 'companies' %}'">
      <div class="card-body">
        <div class="card-title d-flex align-items-start justify-content-between mb-4">
          <div class="avatar flex-shrink-0">
            <img src="{% static 'img/icons/unicons/building.jpg' %}" alt="Total Companies" class="rounded">
          </div>
        </div>
        <p class="mb-1">Total Students</p>
        <h4 class="card-title mb-3" id="total-companies">0</h4>
        {% comment %} <small class="text-success fw-medium"><i class='bx bx-up-arrow-alt'></i> +72.80%</small> {% endcomment %}
      </div>
    </div>
  </div>
  <div class="col-md-6 col-xl-3 mb-4">
    <div class="card h-100 hover-shadow cursor-pointer" onclick="window.location.href='{% url 'companies' %}?status=active'">
      <div class="card-body">
        <div class="card-title d-flex align-items-start justify-content-between mb-4">
          <div class="avatar flex-shrink-0">
            <img src="{% static 'img/icons/unicons/chart-growth.png' %}" alt="Active Companies" class="rounded">
          </div>
        </div>
        <p class="mb-1">Total Parents</p>
        <h4 class="card-title mb-3" id="active-companies">0</h4>
        {% comment %} <small class="text-success fw-medium"><i class='bx bx-up-arrow-alt'></i> +28.42%</small> {% endcomment %}
      </div>
    </div>
  </div>
  <div class="col-md-6 col-xl-3 mb-4">
    <div class="card h-100 hover-shadow cursor-pointer" onclick="window.location.href='{% url 'companies' %}?status=inactive'">
      <div class="card-body">
        <div class="card-title d-flex align-items-start justify-content-between mb-4">
          <div class="avatar flex-shrink-0">
            <img src="{% static 'img/icons/unicons/times-circle.png' %}" alt="Inactive Companies" class="rounded">
          </div>
        </div>
        <p class="mb-1">Total Teachers</p>
        <h4 class="card-title mb-3" id="inactive-companies">0</h4>
        {% comment %} <small class="text-danger fw-medium"><i class='bx bx-down-arrow-alt'></i> -14.82%</small> {% endcomment %}
      </div>
    </div>
  </div>
  <div class="col-md-6 col-xl-3 mb-4">
    <div class="card h-100 hover-shadow cursor-pointer" onclick="window.location.href='{% url 'companies' %}?type=users&company={{admin_company_id}}'">
      <div class="card-body">
        <div class="card-title d-flex align-items-start justify-content-between mb-4">
          <div class="avatar flex-shrink-0">
            {% comment %} <img src="{% static 'img/icons/unicons/map.png' %}" alt="Credit Card" class="rounded"> {% endcomment %}
            <img src="{% static 'img/icons/unicons/users-alt.png' %}" alt="Total Users" class="rounded">
          </div>
        </div>
        <p class="mb-1">Total Users</p>
        <h4 class="card-title mb-3" id="total-users">0</h4>
        {% comment %} <small class="text-success fw-medium"><i class='bx bx-up-arrow-alt'></i> +28.14%</small> {% endcomment %}
      </div>
    </div>
  </div>
</div>


{% endblock %}
 